<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<h2>Add to Inventory</h2>
<form class="form new-inventory-form">
      <div class="form-group">
        <label for="project-name">Food Item:</label>
        <input class="form-input" type="text" id="inventory-name" name="inventory-name" />
      </div>
      
    </form>


{{#each inventory as |inv| }}
<div class="row mb-4 project">
  
{{inv.name}}, {{User.name}}
</div>
{{/each}}

<h2>Add to Needs</h2>
<form class="form need-form">
      <div class="form-group">
        <label for="project-name">Food Item:</label>
        <input class="form-input" type="text" id="need-name" name="need-name" />
      </div>
      
    </form>

{{#each needs as |need| }}
<div class="row mb-4 project">
  
{{need.name}}, {{User.name}}
</div>
{{/each}}


<script src="./js/profile.js"></script>
